*.tar.gz filter=lfs diff=lfs merge=lfs -text
/usr/bin/gitlab-runner filter=lfs diff=lfs merge=lfs -text
/usr/lib/gitlab-runner/helper-images/prebuilt-alpine-x86_64-pwsh.tar.xz filter=lfs diff=lfs merge=lfs -text
/usr/lib/gitlab-runner/helper-images/prebuilt-ubuntu-ppc64le.tar.xz filter=lfs diff=lfs merge=lfs -text
/usr/lib/gitlab-runner/helper-images/prebuilt-ubuntu-x86_64-pwsh.tar.xz filter=lfs diff=lfs merge=lfs -text
/usr/lib/gitlab-runner/helper-images/prebuilt-ubuntu-x86_64.tar.xz filter=lfs diff=lfs merge=lfs -text
